@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* nav section styles */
nav {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcaf02;
}

.nav-item-container {
  display: inherit;
}

.logo {
  margin: 1rem;
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-item {
  margin: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

/* info section styles */
main {
  background-color: black;
  color: white;
}

.info-section {
  display: flex;
  justify-content: space-between;
}

.info-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
}

.info {
  padding: 1rem;
  width: 40%;
  margin-left: 50px;
}

.info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.btn {
  background: #fcaf02;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 160px;
  border-radius: 500px;
  border: none;
  text-align: center;
  margin: 2rem 0;
  cursor: pointer;
}

.info-image-container > img {
  height: 350px;
  margin-top: 20px;
}

/* form section style */
.form-section {
  margin: 0 50px;
}

.form-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcaf02;
  padding: 1rem;
}

.contact input {
  box-sizing: border-box;
  width: 100%;
  margin: 15px 0;
  height: 45px;
  border-radius: 500px;
  background-color: transparent;
  border: 1px solid #fcaf02;
  color: white;
  padding: 10px 20px;
}

.contact {
  padding: 1rem;
}

input:focus {
  outline: none;
}

.form-child-container {
  display: flex;
  gap: 2rem;
}

::placeholder {
  color: #fcaf02;
  opacity: 1;
}

#submit {
  width: 150px;
  height: 40px;
  color: black;
  background: #fcaf02;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

/* table section styles */
.table-section {
  padding: 20px 50px;
}

table {
  width: 98%;
}

table {
  border: 1px solid #fcaf02;
  border-collapse: collapse;
  color: #fcaf02;
  margin: auto;
}

td {
  border-top: none;
  border-bottom: none;
  text-align: center;
}

tr {
  height: 50px;
}

tfoot {
  border: 1px solid #fcaf02;
  background-color: #fcaf02;
  color: black;
}

tfoot td:nth-child(1),
tfoot td:nth-child(2) {
  border-right: 1px solid black;
}
